# Bluemix
.cfignore
manifest.yml

# Env
#.env

# IDE files
.idea

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.DS_Store

# Users Environment Variables
.lock-wscript

npm-debug.log

db
recycle
logs
*.log
card/connection.json

